<div class="footer" style="background: #f8f9fa;">
  <div class="footer-links">
    <%= link_to 'Cookie Policy', :cookie %>
    <%= link_to 'Privacy Policy', :privacy %>
    <%= link_to 'Terms of Service', :terms %>
  </div>
</div>
