<div class="container">
  <div class="hero">
    <div class="image">
      <%= image_tag ('im.png') %>
    </div>
    <div class="info">
      <h2>Share your rtip plans</h2>
      <p>Easily create your planned tour and share with who you like.</p>
      <div class="buttons">
        <%= link_to 'Download Now', '#' %>
        <%= link_to 'or Take a closer look', '#' %>
      </div>
    </div>
  </div>
</div>
