<div class="container">
  <div class="hero">
    <div class="image">
      <%= image_tag ('im.png') %>
    </div>
    <div class="info">
      <h2>Share your trip plans</h2>
      <p>Easily create your planned tour and share with who you like.</p>
      <div class="buttons">
        <%= link_to 'Download Now', '#', class: 'button' %>
        <%= link_to 'or Take a closer look', '#', class: 'link' %>
      </div>
    </div>
  </div>
  <div class="demo">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h1 class="d-block w-100">1</h1>
          <!-- <img src="..." class="d-block w-100" alt="..."> -->
        </div>
        <div class="carousel-item">
          <h1 class="d-block w-100">2</h1>
          <!-- <img src="..." class="d-block w-100" alt="..."> -->
        </div>
        <div class="carousel-item">
          <h1 class="d-block w-100">3</h1>
          <!-- <img src="..." class="d-block w-100" alt="..."> -->
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
