.demo {
  padding-top: 8%;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 20%;
}

.carousel-item, .active{
  margin-left: auto;
  // height: 300px;
  img {
    width: 335px;
  }
 p {
     font-size: 130%;
     font-weight: lighter;
     line-height: 2;
     margin-bottom: 7%;
     text-align: center;
   }
}
.d-block {
  margin-left: auto;
  margin-right: auto;
}

.fa.fa-long-arrow-left, .fa-long-arrow-right {
  margin-top: 0;
  font-size: 30px;
  font-weight: lighter !important;
  background: #a8caf0;
  padding: 18px 18px;
  border-radius: 20%;
  &:hover {
    text-decoration: none;
    box-shadow: 0px 0px 12px 1px rgba(0,0,0,.1);
    -webkit-box-shadow: 0px 0px 12px 1px rgba(0,0,0,.1);
  }
}

.carousel-control-prev, .carousel-control-next {
  height: 45%;
  opacity: 1 !important;
  display: flex;
  justify-content: flex-top;
}
