.footer {
  // position: fixed;
  bottom: 0;
  width: 100%;
  background: transparent;
  height: 10vh;
  margin-bottom: 0;
  display: flex;
  align-items: center;

}


.footer-links {
  width: 95%;
  display: flex;
  margin: auto;
  margin-bottom: 5%;
  justify-content: space-around;
    a {
      margin: 1% auto;
      font-size: 230%;
      color: #1261dc;
      text-decoration: transparent;
      font-weight: 500;
      &:hover {
        color: #1261dc;
        text-decoration: underline;
        -webkit-text-decoration: underline;
      }
    }
}
//Responsiveness:
////////////////////////////////////

// @media (min-width: 760px) {
//   .footer-links {
//     width: 70%;
//     font-size: 65%;
//     margin-bottom: 2%;
//   }
// }

@media (min-width: 1024px) {
  .footer {
    height: 10vh;
  }
  .footer-links {
    margin: auto;
    width: 35%;
    justify-content: space-between;
    font-size: 42.5%;
      a {
        margin: auto;
      }
  }
}

/////////////////////////////////////
// .footer {
//   // position: fixed;
//   bottom: 0;
//   width: 100%;
//   height: 55px;
//   background: transparent;
//       h1 {
//       font-size: 160%;
//     }
// }

// .footer-links {
//   width: 35%;
//   display: flex;
//   margin: auto;
//   justify-content: space-between;
//     a {
//       margin: auto;
//       font-size: 98%;
//       color: #1261dc;
//       text-decoration: transparent;
//       font-weight: 500;
//       &:hover {
//         color: #1261dc;
//         text-decoration: underline;
//         -webkit-text-decoration: underline;
//       }
//     }
// }
