.container-hero {
  height: 90vh;
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  text-align: center;
}

.hero {
  width: 88%;
  height: auto;
  margin: auto;
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 3.8vh;
    font-weight: 500;
    margin-bottom: 4%;
  }
  img {
    height: 30vh;
    margin-left: auto;
    margin-bottom: 10%;
  }
  p {
    font-size: 2.2vh;
    font-weight: lighter;
    line-height: 2;
    margin-bottom: 4%;
  }

}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 260%;
  height: 15vh;
}

.button {
  background: #1261dc;
  color: white;
  padding: 15px 40px;
  border-radius: 4px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  &:hover {
    color: white;
    text-decoration: none;
    box-shadow: 0px 0px 12px 2px rgba(0,0,0,.1);
    -webkit-box-shadow: 0px 0px 12px 2px rgba(0,0,0,.1);
  }
}

.buttons a {
  margin: 0;
  display: flex;
  align-items: center;
}
.buttons img{
  height: 5.9vh;
  width: auto;
  margin: 0;
  padding: 0;
  opacity: .6;
}

.buttons2 {
  display: none;
}

////////////////////////////
//Responsiveness:

// @media (min-width: 800px) and (max-width: 1023px) {
//   .container {
//     margin-top: 25%;
//     h2 {
//       font-size: 220%;
//     }
//     p {
//       font-size: 170%;
//     }
//   }
//   .hero {
//     width: 70%;
//     margin: auto;
//   }
//   .buttons {
//     width: 90%;
//     margin: auto;
//     margin-top: 6%;
//     flex-direction: row;
//     justify-content: space-around;
//     font-size: 100%;
//     align-items: center;
//   }

//   .button {
//     font-size: 115%;
//     background: #1261dc;
//     color: white;
//     padding: 11px 40px;
//     border-radius: 4px;
//     margin: 0;
//     margin-right: 4%;
//     width: auto;
//   }
// }

@media (min-width: 1024px) {
  .container-hero {
    height: 100vh;
    width: 65%;
    margin: 0 auto 0 auto;
    text-align: start;
    // height: 62vh;
    // margin: 13% auto 5vh auto;
  }
  .hero {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    h2 {
      font-size: 270%;
      margin-bottom: 1.5vh;
    }
    p {
      font-size: 2.3vh;
      margin-bottom: 4vh;
      letter-spacing: 0.1vh;
    }
    img {
      margin-bottom: 0;
      height: 53vh;
    }
  }
  .info {
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .buttons {
    display: none;
  }

  .buttons2 {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    font-size: 100%;
    height: auto;
  }

  .button {
    font-size: 115%;
    background: #1261dc;
    color: white;
    padding: 11px 40px;
    border-radius: 4px;
    margin: 0;
    margin-right: 4%;
    width: auto;
  }
}

.buttons2 a {
  margin: 0;
  display: flex;
  align-items: center;
}
.buttons2 img{
  height: 5.9vh;
  width: auto;
  margin: 0;
  padding: 0;
  margin-right: 2vh;
  opacity: .6;
}

#paragr {
  margin-bottom: 1vh;
  font-size: 2.1vh;
}




