.container {
  height: 100vh;
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  text-align: center;
  p {
    font-size: 260%;
    font-weight: lighter;
    line-height: 2;
    margin-bottom: 4%;
  }
}

.hero {
  width: 110%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 3.8vh;
    font-weight: 500;
    margin-bottom: 4%;
  }
  img {
    height: 30vh;
    margin-left: auto;
    margin-bottom: 10%;
  }
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.buttons {
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  font-size: 260%;
}

.button {
  background: #1261dc;
  color: white;
  padding: 15px 40px;
  border-radius: 4px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  &:hover {
    color: white;
    text-decoration: none;
    box-shadow: 0px 0px 12px 2px rgba(0,0,0,.1);
    -webkit-box-shadow: 0px 0px 12px 2px rgba(0,0,0,.1);
  }
}

////////////////////////////
//Responsiveness:

// @media (min-width: 800px) and (max-width: 1023px) {
//   .container {
//     margin-top: 25%;
//     h2 {
//       font-size: 220%;
//     }
//     p {
//       font-size: 170%;
//     }
//   }
//   .hero {
//     width: 70%;
//     margin: auto;
//   }
//   .buttons {
//     width: 90%;
//     margin: auto;
//     margin-top: 6%;
//     flex-direction: row;
//     justify-content: space-around;
//     font-size: 100%;
//     align-items: center;
//   }

//   .button {
//     font-size: 115%;
//     background: #1261dc;
//     color: white;
//     padding: 11px 40px;
//     border-radius: 4px;
//     margin: 0;
//     margin-right: 4%;
//     width: auto;
//   }
// }

@media (min-width: 1024px) {
  .container {
    height: 62vh;
    width: 67%;
    margin: 13% auto 0 auto;
    text-align: start;
  }
  .hero {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    h2 {
      font-size: 270%;
      margin-bottom: 4%;
    }
    p {
      font-size: 130%;
      margin-bottom: 4%;
    }
    img {
      margin-bottom: 0;
      height: 53vh;
    }
  }
  .info {
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
  }

  .buttons {
    width: 100%;
    margin-top: 6%;
    flex-direction: row;
    font-size: 100%;
    align-items: center;
    justify-content: flex-start;
  }

  .button {
    font-size: 115%;
    background: #1261dc;
    color: white;
    padding: 11px 40px;
    border-radius: 4px;
    margin: 0;
    margin-right: 4%;
    width: auto;
  }
}




