.navbar {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  background: #f8f9fa;
  box-shadow: 0px 6px 12px 1px rgba(0,0,0,.1);
  -webkit-box-shadow: 0px 6px 12px 1px rgba(0,0,0,.1);
      h1 {
      font-size: 300%;
      margin-top: 5%;
      height: 100%;
    }
}

.navbar-wrap {
  width: 80%;
  height: 4vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.links {
  width: 22%;
  display: flex;
  justify-content: space-between;
    a {
      margin: auto;
      font-size: 98%;
      color: #1261dc;
      text-decoration: transparent;
      font-weight: 500;
      &:hover {
        color: #1261dc;
        text-decoration: underline;
        -webkit-text-decoration: underline;
      }
    }
}

.navbar-wrap img {
  height: 4.5vh;
}

// .fa-bars {
//   font-size: 4vh;
//   color: #1261dc;
//   cursor: pointer;
// }

// .dropdown-item {
//   font-size: 240%;
//   text-align: center;
//   margin: 5% auto;
// }
// .dropdown-menu.show {
//   width: 420%;
// }

.links {
  visibility: hidden;
}

//nav-toggle start
.nav-toggle {
  display: block;
  padding: 10px 10px 10px 10px;
  background: transparent;
  z-index: 50;
  height: 100%;
}

.hamburger {
  width: 1.08em;
  position: relative;
  display: inline-block;
  height: 0.8em;
  font-size: 4.2em;
  background: transparent;
}

.hamburger span {
  width: 100%;
  background: #1261dc;
  display: block;
  position: absolute;
  left: 0px;
  height: 0.185em;
  border-radius: 1.2px;
  transition: 0.5s all;
}

.hamburger span:nth-child(1) {
  top: 0px;
}

.hamburger span:nth-child(2) {
  top: 0.36em;
}

.hamburger span:nth-child(3) {
  top: 0.72em;
}

.sidebar {
  padding: auto;
  width: 100%;
  height: 16vh;
  position: fixed;
  background: #f8f9fa;
  top: 9.5vh;
  left: 0px;
  z-index: 5;
  visibility: hidden;
  opacity: 0.0;
  transition: 0.2s all;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sidebar-item {
  width: 100%;
  margin: auto;
}

#navicon {
  display: none;
}

#navicon:checked ~ .sidebar {
  visibility: visible;
  opacity: 1.0;
}

#navicon:checked ~ .nav-toggle > .hamburger span {
  top: 0.36em;
}

#navicon:checked ~ .nav-toggle > .hamburger span:nth-child(1) {
  transform: rotate(45deg);
}

#navicon:checked ~ .nav-toggle > .hamburger span:nth-child(2) {
  transform: rotate(45deg);
}

#navicon:checked ~ .nav-toggle > .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
}

.sidebar-item {
  padding: auto;
  font-size: 2.2vh;
}
//nav-toggle end

@media (min-width: 1024px) {
  .navbar {
      h1 {
      font-size: 160%;
      margin-top: 5%;
      height: 100%;
    }
  }
  .links {
    visibility: visible;
  }
  .nav-toggle {
    display: none;
  }
}

